{{>/layout/header}}

<div style="display: flex; justify-content: center">
    <div style="width: 1800px; text-align: center">

        <!--본문내용은 이 주석 이후에 작성할것-->

        <h5>카드 등록</h5>
        <form method="post" action="/carddivision/registercarddivision">
        <table class="table">
            <thead class="table-success">
                <tr>

                    <th>사진</th>
                    <th>카드명</th>
                    <th>카드기본잔액</th>
                    <th>카드등록일</th>
                    <th>등록</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                        <img class="box" id="preview" src="/images/1.png"
                             height="50px" width="50px">
                        <input type="file" id="File" name="files" multiple="multiple"/>
                    </div>
                    </td>
                    <td>
                        <input type="multi" class="form-control" name="cardName" placeholder="카드명을 입력해주세요"
                            style="text-align: center">
                    </td>
                    <td>
                        <input type="number" class="form-control" name="cardMoney" placeholder="카드기본잔액을 입력해주세요"
                            style="text-align: center">
                    </td>
                    <td>
                        <div class="input-group date" id="datepicker">
                            <input type="text"  name="startAt" class="form-control">
                            <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                        </div>
                    </td>

                    <td>
                        <button type="submit" style="border: 0; background-color: white;">
                            <img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                                 style="height: 35px;"></img>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
        <br>

         <h5>서비스 카드 권종 리스트</h5>
            <table class="table table-hover">
                <thead class="table-success">
                <tr> <!-- 음료명 등은 폼필드/ 카테고리 등은 드롭다운으로 만들것  -->
                    <!-- DB 필드명에 맞춰 박스 재구성할것  -->
                    <th>No.</th>
                    <th>사진</th>
                    <th>카드명</th>
                    <th>카드기본잔액</th>
                    <th>발권매수</th>
                    <th>판매매수</th>
                    <th>판매총액</th>
                    <th>발권총액</th>
                    <th>카드상태</th> <!--서비스중 / 서비스종료-->
                    <th>등록일</th>
                    <th>수정</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><img
                            src="https://image.istarbucks.co.kr/cardImg/20230519/010289_WEB.png"
                            style="height: 80px;"></img></td>
                    <td>애니버서리 사이렌카드</td>
                    <td>50000</td>
                    <td>10</td>
                    <td>5</td>
                    <td>250000</td>
                    <td>500000</td>
                    <td>서비스중</td>
                    <td>23.11.03</td>
                    <td>수정버튼</td>

                </tr>


                </tbody>

            </table>


        <h5>서비스 종료 카드 권종 리스트</h5>
            <table class="table table-hover">
                <thead class="table-success">
                <tr> <!-- 음료명 등은 폼필드/ 카테고리 등은 드롭다운으로 만들것  -->
                    <!-- DB 필드명에 맞춰 박스 재구성할것  -->
                    <th>No.</th>
                    <th>사진</th>
                    <th>카드명</th>
                    <th>카드기본잔액</th>
                    <th>발권매수</th>
                    <th>판매매수</th>
                    <th>판매총액</th>
                    <th>발권총액</th>
                    <th>카드상태</th> <!--서비스중 / 서비스종료-->
                    <th>발권시작일</th>
                    <th>발권종료일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><img
                            src="https://image.istarbucks.co.kr/cardImg/20230519/010289_WEB.png"
                            style="height: 80px;"></img></td>
                    <td>애니버서리 사이렌카드</td>
                    <td>50000</td>
                    <td>10</td>
                    <td>5</td>
                    <td>250000</td>
                    <td>500000</td>
                    <td>종료</td>
                    <td>23.11.03</td>
                    <td>23.11.30</td>

                </tr>
                </tbody>

            </table>
        <!--본문내용은 이 주석 이전에 작성이 완료되어야함-->

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker();
    });
</script>


{{>/layout/footer}}