<div class="profile-img-wrap story-border"
     onclick="popup('.modal-image')">
    <form id="userProfileImageForm">
        <input type="file" name="profileImageFile" style="display: none;"
               id="userProfileImageInput"/>
    </form>

    <img class="profile-image" src="/upload/${dto.user.profileImageUrl}"
         onerror="this.src='/images/person.jpg'" id="userProfileImage"/>
</div>